.phone-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8B4513; /* Fondo marrón */
  height: 100%; /* Asegura que el contenedor ocupe toda la altura */
  padding: 0;
  margin: 0;
}

.phone-screen {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 300px; /* Ajusta según el tamaño del mockup */
  aspect-ratio: 9 / 16; /* Mantiene la proporción del teléfono */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8B4513; /* Fondo marrón */
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Asegura que las imágenes no se deformen */
  object-position: center;
}

.phone-video-background,
.phone-screen img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta el contenido para que se mantenga dentro del contenedor */
  position: absolute;
  top: 0;
  left: 0;
}

.phone-frame {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 2; /* Asegura que el marco esté encima del video */
}

