:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root {
  --negro: #1a1a1a;
  --marrón-oscuro: #31150c;
  --marrón-claro: #6d4432;
  --Rosita-pomelo: #e0d1cb;
  --blanco: #ffffff;

  

  /* --color-text: rgba(255, 255, 255, 0.87);
  --color-nav-background: #e0d1cb;
  --color-nav-text: #242323;
  --color-about-background: #e0d1cb;
  --color-about-text: #242323;
  --color-experience-background: #e0d1cb;
  --color-experience-text: #242323;
  --color-projects-background: #e0d1cb;
  --color-footer-background: #e0d1cb;
  --color-footer-text: #242323;
  --color-button-background: #1a1a1a;
  --color-button-hover-border: #646cff;
  --color-button-focus-outline: -webkit-focus-ring-color;
  --color-scrollbar-thumb: #ff6b6b;
  --color-scrollbar-track: #e0d1cb; */
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  scrollbar-width: none; /* For Firefox */
}

*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* .scroll-container {
 
} */

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

nav, section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop:always;
}

.home, .about, .experience, .projects, .services, .contact {
  padding-top: 10px;
}                   

body {
  min-height: 100vh;
  overflow: hidden; 
  /* overflow-y: hidden; */
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

a {
  font-weight: 500;
  color:  var(--negro);
  text-decoration: inherit;
}

a:hover {
  color: var(--blanco);
}

html, body {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.home {
  width: 100vw;
  height: 75vh;
  position: relative;
  max-width: 100vw;

  /* left: 0;
  right: 0; */
  
  /* background-color: #1a1a1a; */
  /* background-image: url("../public/img/DALL·E\ 2025-01-29\ 11.40.59\ -\ A\ seamless\ pattern\ inspired\ by\ the\ Bauhaus\ art\ movement\,\ featuring\ colorful\ and\ abstract\ geometric\ shapes\ such\ as\ circles\,\ squares\,\ triangles\,\ and\ lin.webp"); */
  /* background-position: 600px; */

  /* background-image: url("/img/fondo textura.png");
  background-size:cover;
  background-repeat:repeat;
  background-position: center; */
  
  background-position-x: -10px;
  /* background-position-y: -10px; */

  display: grid;
  place-items: center;

  /* justify-content: space-between; */
  /* padding: 0px; */
  /* z-index: 1; */
}


header {
  width: 100vw;
  height: 85vh;
  /* background-color: var(--Rosita-pomelo); */
}

header .home-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* place-content: center normal ; */
  /* grid-column: 1/4; */

  padding: 0 4em;
  margin: 0 auto;
  /* max-width: 45em; */
  text-align: center;

  width: 100vw;
  height: fit-content;
  z-index: 1;
}


header h1 {
  font-size: 3.8rem;
  font-family: 'Alfa Slab One';
  font-weight: 500;
  
  color: var(--blanco);
  background-color: transparent;
  
  margin-top: 0;

  position: absolute;
  top: 3vw;
  left: 6vw;

  width: 35%;
  height: auto;

  text-align: left;
  align-content: center;
 
  text-shadow:var(--negro) 1px 1px .1px;

  text-transform: uppercase;

  letter-spacing: 1px;
}

header h1::after {
  font-family: 'Alfa Slab One';
  font-weight: 500;
  width: 400px;

  position: absolute;
  content: attr(data-text);
  color: var(--negro);
  z-index: 2; /* Ensure it is above the h1 */

  background-color: transparent;

  top: 0;
  left: 0;
  right: 0;
  margin-top: -3px;
  margin-left: -3px;

  width: 100%;
  height: 75vh;

  text-align: left;

  text-shadow: var(--negro) 1px 1px .1px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Estilos para ESPAÑOL */
header.home.es h1 {
  /* Ejemplo de override: */
  width: 600px;
  /* left: 0; */
  /* height: 71.5vh; */
}

/* Estilos para INGLÉS */
header.home.en h1 {
  /* Ejemplo de override: */
  width: 600px;
  /* left: 0; */
  /* height: 80vh; */
}

header .seework {
  position: absolute;
  bottom: 12vh;
  left: 9%;
  transform: translateX(-50%);
  margin-left: 2vw;
  z-index: 10;

  border-radius: 15px;
  background-color: var(--marrón-claro);

  font-family: 'Brawler';
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: var(--blanco);

  width: 10vw;
  height: 6vh;
}

header .seework:hover {
  background-color: var(--marrón-oscuro);
}

header .seework a {
  color: var(--blanco);
}

header .home-content .arrows {
  position: absolute;
  
  width: 170px;

  top:5%;
  right: 110px;
}

nav { 
  position: relative;
  top: 0;
  display: flex;
  /* overflow: hidden; */
  
  background: transparent;

  width: 100vw;
  height: fit-content;

  justify-content: start;

  z-index: 2;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10vw, 2fr));
  place-content: center;

  list-style-type: none;

  background: transparent;

  margin: 0;
  padding: 0;
  
  width: 100%;
  height: 10vh;
}

nav ul li {  
  display: grid;
  place-content: center;

  height: 5vh;
  width: 15vw;

  padding: 0.5em 1em;
  border-radius: 8px;
  border: none;

  background: transparent;

  font-family: 'Lobster';
  font-size: larger;
}

nav ul li a {
  font-size: .8rem;
  background: transparent;
}

nav ul li a:hover {
  /* box-shadow: 0px 10px 20px -6px rgb(26, 26, 26); */
  text-shadow: 0px 1px 0px #1a1a1a;
} 

.home-background {
  background-image: url("/img/fondo textura.png");
  background-size: cover;
  background-repeat: repeat;
  /* background-position: center; */
  background-position-y: -600px;
  background-color: var(--Rosita-pomelo) ;

}

.language {
  display: grid;
  place-content: center;
  height: 5vh;
  width: 10vw;

  position: fixed;
  top: 2vw;
  right: 1vw;
  transform: translateY(-50%);

  padding: 0;
  margin: 0;

  text-align: center;
  list-style: none;

  background-color: #31150c;
  color: #ffffff;
  border-radius: 15px;

  font-family: 'Roboto';
  font-size: .8em;
  font-weight: 450;

  z-index: 2;
}

.language:hover {
  background-color:  var(--marrón-claro);
}

h1 {
  line-height: 1.1;
}

/* h2 {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 45px;
  font-weight: 500;
  font-family: 'Coiny';
  margin: 0 0;
  text-align: left;

  width: 50vw;
  height: 10vh;

  top: -12vh;
  right: -20vw;

  background-color: #da0e0b;
  color: #ebd023;
  padding: 0.5em 1em;
  border-radius: 8px;

} */

h4{
  font-size: 3em;
  font-family: 'Bebas Neue';
  letter-spacing: 8px;
  text-align: right;
  line-height: .9;
  align-self: center;

  margin: 1px;
  background-color: #d02bb7;
  color: #1b1b1b;
  padding: 4px;
  border-radius: 8px;

  width: 25vw;
  height: fit-content;
  /* white-space: nowrap; */

  display: flex;
  flex-direction: column;
  /* writing-mode: vertical-lr; */
  text-orientation: upright;
  position: relative;
  top: -16vh;
  right: 35vw;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
  padding: 0 1.6em;
  margin: 0 auto;
  /* max-width: 40em; */
  text-align: center;
  
  background-color: #e0d1cb;
  color: #242323;
  
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 0vh;
  text-align: center;
  
  width: 100vw;
  max-width: 100vw;
  height: 110vh;

  background-color:var(--marrón-claro);
  color: #242323;
  z-index: 1
}

.about div { 
  position: relative;
  top: 1%;

  margin-top: 1em;
  text-align: center;

  width: 80vw;
  height: 80vh;
  z-index: 1;
  
  /* display: flex; */
  
}

.about img {
  float: left;
  
  width: 28vw;
  height: auto;

  margin: 1.5em;
  z-index: 1;
}

.about h2 {
  font-family: 'Brawler';
  color: var(--Rosita-pomelo);
  text-align: left;
  margin: 0;
  z-index: 1;

  width: 60vw;
}

.about h3 {
  font-size: 2.2em;
  font-weight: 500;
  font-family: 'Lobster';
  color: var(--blanco);

  line-height: .9;

  margin: 0;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 0;
  text-align: left;  
  z-index: 1;

  width:75%;
}

.about p {
  font-size: 1em;
  font-weight: 350;
  font-family: 'Roboto';
  font-style: italic;
  color: var(--Rosita-pomelo);

  position: absolute;
  /* right: 20%; */
  width: 40%;


  margin: 0;
  padding: 0;
  margin-left: 40%;
  text-align: left;
  z-index: 1;

  display: flex;
}

.about .lnkdnbutton {
  display: flex;
  position: fixed;
  bottom: 15px;
  right: 15px;
  overflow: hidden;
  
  border-radius: 10px;
  background-color: var(--Rosita-pomelo);

  z-index: 1;
  width:3.5vw;
  height:3.5vw;
  
  align-items: center;
  justify-content: center;
}

.about .lnkdnbutton img {
  width: 4.5vw;
  height: fit-content;
  background-color: transparent;
}

.about .clickhere {
  display: flex;
  flex-direction: column;

  background-color: transparent;

  width: 15vw;

  margin: 0;
  padding: 0;
  right: -50%;
  top: 30%;
  
  position: relative;

  font-family: 'Roboto';
  align-content: end;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;

  
}

.about .email-button a {
  font-family: 'Alfa Slab One';
  font-size: 1.5rem;
  color: var(--blanco);
  letter-spacing: 1.2px;

  text-shadow: var(--negro) 1px 1px .1px;
}

.about .email-button a::after {
  content: attr(data-text);
  color: var(--negro);

  display: block;
  position: absolute;

  /* top: 1.6vw;
  right: 1.6vw; */

  width: fit-content;

  z-index: 2;

  text-shadow: none;
  font-size: 1.5rem;

  background-color: transparent;

  top:20.5px;
  left: 43px;
  right: 8px;
  margin-top: 3.5px;
  margin-left: 0px;

  /* width: 100%; */
  height: 75vh;

  text-align: left;
  text-wrap: nowrap;
  /* text-shadow: var(--negro) 1px 1px .1px; */
  /* text-transform: uppercase; */
  /* letter-spacing: 1px; */
}

.experience {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;

  z-index: 1;
}

.experience ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  place-content:center;

  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;

  width: 99vw;
  max-width: 80vw;
  height: 100vh;

  background-color: #e0d1cb;
  color: #242323;
}

.experience ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;

  background-color: #e0d1cb;
  color: #242323;
}

.experience ul li img {

  width: 10vw;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 1em;
}

.projects {
  padding: 0;
  width: 100vw;
  height: 90vh;
  position: relative;
  overflow: hidden;
  background-color: #e0d1cb;
  background-size: 50%;
  z-index: 1;
  left: 0vw;
  margin-bottom: 10vh;
}

.projects-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90vw, 3fr));
  gap: 1em;
  padding: 1em;
  margin: 0 auto;
  height: 100vh;
  max-width: 80em;
  background-color: #e0d1cb;
}

section {
  height: 100vh;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.6em;
  margin: 0 auto;
  max-width: 45em;
  text-align: center;
  background-color: #e0d1cb;
  color: #242323;

  height: 14vh;

  font-family: 'Bebas Neue';
  font-size: 1.2em;
  font-weight: 500;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;

  font-family: inherit;

  background: none;

  cursor: pointer;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
